body {
  margin: 0px 0px 0px 0px !important;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/icons/banner.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.charity_container {
  /*display: none;*/
  /*display: block;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*top: 34px;*/
  /*width: 210px; */
  height: 50px;
  width: 300px;
  /*box-shadow: 0 3px 10px hsl(0, 0%, 30%);*/
  font-family: 'Open Sans', sans-serif;
  /*font-family: Georgia, Helvetica, Arial, sans-serif;*/
  /*box-sizing: border-box;*/
}

h4 {  
  padding: 4px 4px 2px 4px;
  font-size: 18px;
  color: #2E293B;
  font-family: 'Open Sans', sans-serif;
}

/*charities {
  list-style: none;
  padding: 3px 0px 3px 0px;
}

.charities a {
  font-size: 24px;
  background-color: #CDCDCD;
  color: hsl(0, 0%, 10%);
  display: block;
  text-decoration: none;
}
.charities li {
  /*font-size: 14px;
  font-size: 20px;
  background-color: #CDCDCD;
  color: hsl(0, 0%, 20%);
  display: block;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.charities li:hover {
  background-color: #CDCDCD;
  text-decoration: none;
}

.charities ul {
  background-color:#CDCDCD;
  color: hsl(0, 0%, 20%);
  display: block;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  list-style-type: none
/*  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.charities ul:hover {
  background-color: #E8D7F1;
  text-decoration: none;
}*/

.charity-content {
  display: none;
  position: absolute;
  background-color: #B03F59;
  min-width: 160px;
  color: #F5EDEE;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.charity {
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.charity:hover {
  background-color: #B03F59;
  text-decoration: none;
}

.name {
  font-size: 20px;
  font-style: bold;
  background-color: white;
  color: #009FB7;
  display: block;
  padding: 0px 10px 4px 10px;
  border: none;
  text-align: left
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;

}
.link {
  font-size: 16px;
  background-color: white;
  color: #B03F59;
  padding: 0px 10px 4px 10px;
}
.link a{
  
  background-color: white;
  color: #B03F59;
  display: block;
  text-decoration: none;
}

.charityinfo {
  font-size: 14px;
  font-style: bold;
  background-color: white;
  color: #2E293B;
  display: block;
  padding: 0px 10px 4px 10px;
  text-decoration: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .name:hover {
  background-color: white;
}*/
.panel {
  padding: 0 18px;
  background-color: #B03F59;
  color: #F5EDEE;
  display: none;
  overflow: hidden;
}



/*
.Fs8au {
  border-top: 1px solid hsl(0, 0%, 90%);
}
.SWhEv {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}*/